body {
    margin: 0;
    width: 100%;
}

header {
    height: 600px;
    background: url("img/header.png") no-repeat;
    background-size: cover;
    position: relative;
}

.header-content {
    margin-top: 5%;
    margin-left: 7%;
    height: 260px;
    float: left;
}

.notify {
    width: 183px;
    color: #ffffff;
    font-family: Pacifico, cursive;
    font-size: 60px;
    font-weight: 400;
    line-height: 20px;
    padding: 0;
}

span{
    color: #2ecc71;
}

.header-great {
    width: 453px;
    height: 59px;
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 25px;
}

.header-pic {
    width: 439px;
    height: 505px;
    float: right;
    bottom: 0;
    right: 5%;
    position: absolute;
}

#hand {
    margin-right: auto;
    position: absolute;
}

#wallpaper {
    position: relative;
    margin-top: 67px;
    margin-left: 67px;
}
.header-platforms {
    display: flex;
    align-items: center;
}

.header-os {
    width: 53px;
    height: 53px;
    background-color: #030303;
    border-radius: 50%;
    margin-right: 15px;
    opacity: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-os:hover {
    background-color: #2ecc71;
    opacity: 1;
}

.header-icon {
    color: #f4f4f4;
   font-size: 25px;
}

.benefits {
    text-align: center;
    width: 313px;
    margin: auto;
}

#benefits {
    display: flex;
    align-items: center;
    margin: 60px;
    justify-content: center;
}

.benef-name {
    height: 17px;
    color: #222222;
    font-family: "Raleway - Semi Bold", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 18px;
}

.input-container {
    width: 100%;
    overflow: auto;
}

#email {
    height: 55px;
    width: 325px;
    border: 0;
    border-radius: 12px 0 0 12px;
    font-size: 18px;
    color: #848484;
    display: inline;
    padding-left: 25px;
}
#submit {
    height: 56px;
    width: 140px;
    border-radius: 0 12px 12px 0;
    border: 0;
    padding: 0;
    background-color: #2ecc71;
    font-size: 18px;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    display: inline;
}

.player {
    float: right;
    margin: 100px 100px 0;
}

iframe {
    border: 0;
}

.subscription {
     height: 530px;
     background-color: #e3e3e3;
}

#social {
    height: 466px;
    text-align: center;
}

.social-lorem {
    width: 825px;
    height: 47px;
    color: #848484;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-style: italic;
    line-height: 30px;
    margin: auto;
    padding-top: 60px;
}
.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon {
    width: 34px;
    height: 34px;
    background-color: #c5c5c5;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon:hover {
    background-color: #2ecc71;
}

.jane {
    height: 14px;
    color: #2e2e2e;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 25px;
}

.sayhi {
    width: 296px;
    height: 22px;
    color: #222222;
    font-family: "Raleway - Semi Bold", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 18px;
    margin: auto;
    padding-top: 60px;
}

.icon {
    color: #f4f4f4;
}

.lorem {
    color: #848484;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
}

.container1 {
    padding-top: 60px;
    margin-left: 60px;
    width: 533px;
}

.images {
    height: 56px;
}

#getnotified {
    width: 296px;
    height: 22px;
    color: #222222;
    font-family: "Raleway - Semi Bold", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 18px;
}

footer {
     height: 130px;
     width: 100%;
     background-color: #E3e3e3;
     margin: 0;
     text-align: center;
     justify-content: center;
     display: flex;
     align-items: center;
 }

footer > a {
    font-size: 16px;
    color: #848484 ;
    margin: 12px;
    text-decoration: none;
    font-weight: 400;
    font-family: Helvetica, sans-serif;
}